$board-base-color: #34566D;
$board-gap-color: #24333E;
$char-color-blue: #104096;
$key-top1: #FFFFFF;
$key-top2: #FF6C4B;
$key-top3: #356A8F;
$key-border1: #E2E2E2;
$key-border2: #be563e;
$key-border3: #24577c;

$fz1: 10px;
$fz2: 36px;

$lh1: 1.3;