@font-face {
  font-family: Arial;
  src: url("assets/fonts/Arial-Regular.woff");
  font-style: normal;
  font-weight: 400;
}
*, ::before, ::after {
  font-family: inherit;
}

.keyboard {
  position: fixed;
  bottom: 20px;
  left: calc((100vw - 702px) / 2);
  padding: 13px;
  background-color: #34566D;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 4px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.keyboard__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 670px;
  gap: 4px;
  padding: 3px;
  background-color: #24333E;
  border-radius: 4px;
}

.button {
  width: 40px;
  height: 40px;
  font-size: 10px;
  line-height: 1.3;
  color: #104096;
  background-color: #FFFFFF;
  border-radius: 4px;
  border-top: solid 2px #E2E2E2;
  border-left: solid 5px #E2E2E2;
  border-right: solid 5px #E2E2E2;
  border-bottom: solid 8px #E2E2E2;
  transition: 0.1s ease-in-out;
}

.button:hover {
  cursor: pointer;
  outline: 2px solid #FF6C4B;
}

.button:focus {
  outline: none;
}

[data-key-name=Backspace] {
  width: 98px;
}

[data-key-name=Tab] {
  width: 64px;
}

[data-key-name=Backslash] {
  width: 74px;
}

[data-key-name=CapsLock] {
  width: 79px;
}

[data-key-name=Enter] {
  width: 103px;
}

[data-key-name=ShiftLeft] {
  width: 98px;
}

[data-key-name=ShiftRight] {
  width: 40px;
}

[data-key-name=ControlLeft],
[data-key-name=MetaLeft],
[data-key-name=AltLeft] {
  width: 50px;
}

[data-key-name=Space] {
  width: 288px;
}

[data-key-name=CapsLock],
[data-key-name=Enter],
[data-key-name=Space],
[data-key-name=ArrowUp],
[data-key-name=ArrowLeft],
[data-key-name=ArrowDown],
[data-key-name=ArrowRight],
[data-key-name=Tab],
[data-key-name=ShiftLeft],
[data-key-name=ControlLeft],
[data-key-name=MetaLeft],
[data-key-name=AltLeft],
[data-key-name=AltRight],
[data-key-name=ControlRight],
[data-key-name=ShiftRight],
[data-key-name=Delete],
[data-key-name=Backspace] {
  background-color: #356A8F;
  border-top: solid 2px #24577c;
  border-left: solid 5px #24577c;
  border-right: solid 5px #24577c;
  border-bottom: solid 8px #24577c;
  color: #FF6C4B;
}

.active-button {
  /* background-color: $key-border1;
  border-top: solid 2px gray;
  border-left: solid 5px gray;
  border-right: solid 5px gray;
  border-bottom: solid 8px gray; */
  background-color: #FF6C4B;
  border-top: solid 2px #be563e;
  border-left: solid 5px #be563e;
  border-right: solid 5px #be563e;
  border-bottom: solid 8px #be563e;
  color: #104096;
}

/* .active-button[data-key-name="CapsLock"],
.active-button[data-key-name="Enter"],
.active-button[data-key-name="Space"],
.active-button[data-key-name="ArrowUp"],
.active-button[data-key-name="ArrowLeft"],
.active-button[data-key-name="ArrowDown"],
.active-button[data-key-name="ArrowRight"] {
    background-color: $key-top2;
    border-top: solid 2px $key-border2;
    border-left: solid 5px $key-border2;
    border-right: solid 5px $key-border2;
    border-bottom: solid 8px $key-border2;
} */